<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :clinic_id %>
    <%= form.text_field :clinic_id, id: :appointment_clinic_id %>
  </div>

  <div class="field">
    <%= form.label :surgery_id %>
    <%= form.text_field :surgery_id, id: :appointment_surgery_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :appointment_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
