<p id="notice"><%= notice %></p>

<p>
  <strong>Clinic:</strong>
  <%= @appointment.clinic %>
</p>

<p>
  <strong>Surgery:</strong>
  <%= @appointment.surgery %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
